.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.contact-list-container {
    flex-grow: 2;
}

.weather-card-container {
    flex-grow: 2;
}