.contact {
    border: 1px rgb(206, 206, 206) solid;
    background-color: white;
    margin:5px;
    border-radius: 5% ;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    padding: 5px;
}

.contact:hover {
    background-color: rgb(223, 223, 223);
}

.name {
    font-size: 1.2rem;
    font-weight: strong;
    align-self: center;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 26)
}

a:link {
    color: rgb(156, 156, 156);
}
a:visited {
    color: green;
}
a:hover {
    color: rgb(0, 2, 141);
}
a:active {
    color: blue;
}